{% extends "main/main_base.html" %}  {# main/main_base.html extends app_main_layout.html #}

{% block extra_css %}
    <script>
        $(document).ready(function () {
            $('#team_school_id').bind('change', function () {
                var elements = $('div.school_team').children().hide(); // hide all the elements
                var value = $(this).val();

                if (value.length) { // if somethings' selected
                    elements.filter('.' + value).show(); // show the ones we want
                }
            }).trigger('change'); // Setup the initial states
        });
    </script>
{% endblock %}

{% block page_title %}Be a Juror{% endblock %}

{% from "flask_user/_macros.html" import render_field, render_submit_field %}

{% block body %}
    {{ super() }}

    <div class="container mt-3">
        <h3>Declare Conflict of Interest <!--and Teleconferencing--></h3>
    </div>
    <form action="" method="post" class="form" role="form">
        {{ form.hidden_tag() }}
        <input id="tl_school_id" name="tl_school_id" type="hidden" value="{{ tl_school_id }}">
        <div class = "container">
            <!--
            <div class="row">
                <div class="col-lg-6">
                    <span class="d-block bg-info">
                        Are you teleconferencing?
                    </span>
                    <br><input type="radio" name="teleconferencing" value="Yes">Yes
                    <br><input type="radio" name="teleconferencing" value="No" checked="checked">No
                    <br>
                    <br>
                </div>
            </div>
            -->
            <input id="teleconferencing" name="teleconferencing" type="hidden" value="Yes">
            <div class="row">
                <div class="col-lg-6">
                    <br>
                    <span class="d-block bg-info">
                        Have you had any experience as a CaYPT juror before?
                    </span>
                    <br><input type="radio" name="juror_experience" value="Yes">Yes
                    <br><input type="radio" name="juror_experience" value="No" checked="checked">No
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <span class="d-block bg-info">
                        Please select your availabilities.
                    </span>
                    <br><input type="checkbox" name="timeslot" value="1">Day 1 (Saturday Feb 29th, 2020) 10am - 2pm
                    <br><input type="checkbox" name="timeslot" value="2">Day 1 (Saturday Feb 29th, 2020) 2pm - 6pm
                    <br><input type="checkbox" name="timeslot" value="3">Day 2 (Saturday Mar 7th, 2020) 10am - 3pm
                    <br><input type="checkbox" name="timeslot" value="4">Day 2 (Saturday Mar 7th, 2020) 3pm - 7pm
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <span class="d-block bg-info">
                        Which school do you have a conflict of interest with? <BR>
                        Please select the schools that you have a conflict of interest with if applicable.
                    </span>
                    {% for school in current_school_list %}
                        {% if school[0] == tl_school_id %}
                            <br><input type="checkbox" name="school" value="{{school[0]}}" checked disabled >{{school[1]}} (school led by you)
                        {% else %}
                            <br><input type="checkbox" name="school" value="{{school[0]}}">{{school[1]}}
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
            <div class="row">
                <br><hr>
                {{ render_submit_field(form.submit, tabindex=290) }}
            </div>
        </div>
    </form>

{% endblock %}