{% extends "main/main_base.html" %}  {# main/main_base.html extends app_main_layout.html #}
{% block page_title %}My Team(s)<HR>{% endblock %}

{% from "flask_user/_macros.html" import render_field, render_submit_field %}

{% block body %}
    {{ super() }}

    <div class="container mt-3">
        <h3>Register a Team</h3>
    </div>
    <form action="" method="POST" class="form" role="form">
        {{ form.hidden_tag() }}
        <div class = "container">
            <div class="row">
                <div class="col-lg-4">
                    <span class="d-block bg-info">
                        Please create a team name for your school. <BR>
                    </span>
                    <div class="form-group">
                        {{ render_field(form.team_name, tabindex=180) }}
                        <!--
                        <span class="d-block bg-info">
                            Are you teleconferencing?
                        </span>
                        {{ form.teleconferencing}}
                        -->
                        <input id="teleconferencing" name="teleconferencing" type="hidden" value="Yes">
                        <span class="d-block bg-info">
                            Please select the school for the team.<BR>
                        </span>
                        {{ render_field(form.school_id, tabindex=200) }}
                    </div>
                </div>
                <div class="col-lg-1">
                </div>
                <div class="col-lg-5">
                    <span class="d-block bg-info">
                        Can't find your school? Add your school in the following form. <BR>
                            (All fields are required.)<BR><BR>
                    </span>
                    <div class="form-group">
                        {{ render_field(form.school_name, tabindex=210) }}
                        {{ render_field(form.address, tabindex=220) }}
                        {{ render_field(form.province, tabindex=230) }}
                        {{ render_field(form.city, tabindex=240) }}
                        {{ render_field(form.postal_code, tabindex=250) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <br><hr>
                {{ render_submit_field(form.submit, tabindex=290) }}
            </div>
        </div>
    </form>

{% endblock %}