{% extends "main/main_base.html" %}  {# main/main_base.html extends app_main_layout.html #}

{% block page_title %}
    Stage Management - Room A
    <div class="dropdown" style="float: right">
        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Action
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="/admin_view_regist?type=team">Team Registration</a></li>
          <li><a href="/admin_view_regist?type=student">Student Registration</a></li>
          <li><a href="/admin_view_regist?type=juror">Juror Registration</a></li>
          <li><a href="/admin_view_regist?type=volunteer">Volunteer Registration</a></li>
          <li><a href="/admin">Planning</a></li>
          <li><a href="#">Report (coming soon)</a></li>
        </ul>
    </div>
{% endblock %}

{% from "flask_user/_macros.html" import render_field, render_submit_field %}

{% block body %}
    {{ super() }}

    <div class="container mt-3">
        <ul class="nav nav-tabs">
            <li><a href="/stage_mgmt">Select Match</a></li>
            <li><a href="#">Draw</a></li>
            <li><a href="#">Assign Member</a></li>
            <li class="active"><a href="#">Timing</a></li>
            <li><a href="#">Enter Scores</a></li>
        </ul>
        <br>
    </div>
    <div class = "container">
        <h3>Round 2A Stage 1 - Problem A. Inconspicuous Bottle</h3>
        <div class="btn-group">
            <button type="button" class="btn btn-info">Reporter: RHHS - S1 Test</button>
            <button type="button" class="btn btn-primary">Opponent: UTS - S3 Test</button>
        </div>
        <HR>
        <BR>
    </div>

    <div class="container">
        {% if step_number > total_steps %}
            <h3> Welldone! All steps are completed!</h3>
        {% else %}
            <table width="80%">
                <tr>
                    <td width="45%">
                        <h3>Step #{{step_number}} ({{sm_steps[step_number-1]['step_mins']}} mins)</h3>
                        <h4>- {{sm_steps[step_number-1]['step_text']}}</h4>
                    </td>
                    <td width="55%">
                        <h2><div id = "timerText">{{sm_steps[step_number-1]['step_mins']}} mins are allowed</div></h2>
                        <div class="progress">
                            <div id = "percentage" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-default" onclick="startTimer({{sm_steps[step_number-1]['step_mins']}})">Start</button>
                          <button type="button" class="btn btn-default" onclick="stopTimer()">Stop</button>
                          {% if step_number > 1 %}
                            <a href="/stage_timing?step={{step_number - 1}}" class="btn btn-default">Previous Step</a>
                          {% endif %}
                          {% if step_number < total_steps %}
                            <a href="/stage_timing?step={{step_number + 1}}" class="btn btn-default">Next Step</a>
                          {% else %}
                            <a href="/stage_scoring" class="btn btn-default">Done</a>
                          {% endif %}
                        </div>
                    </td>
                    <td>
                        <h3><div id = "timerText2"></div></h3>
                        <div class="progress">
                            <div id = "percentage2" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        {% endif %}
    </div>

    <div class="container">
        <BR>
        <div class="row">
            <div class="col-lg-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Problem #</th>
                            <th>Accepted</th>
                            <th>Rejected</th>
                            <th>Proposed</th>
                            <th>Not Proposed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>A. Inconspicuous Bottle</td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_A" ></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_A" ></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_A" ></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_A" checked></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>B. Sweet Mirage</td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_B"></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_B" ></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_B" ></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_B" checked></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>C. Conducting Lines</td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_C" ></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_C" ></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_C" ></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_C" checked></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>D. Falling Tower</td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_D" ></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_D" ></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_D" ></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_D" checked></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>E. Playing Card</td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_E" ></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_E" ></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_E" ></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                  <label><input type="radio" name="PROB_E" checked></label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        var mins;  //Set the number of minutes you need
        var secs;
        var psecs;
        var currentSeconds;
        var currentMinutes;
        var is_overtime;
        var total_over_mins;
        var myVar;

        function startTimer(maxMins) {
            mins = maxMins;
            secs = mins * 60;
            psecs = mins * 60;
            currentSeconds = 0;
            currentMinutes = 0;
            is_overtime = 0;
            total_over_mins = 0;
            myVar = setTimeout(Decrement,1000);
        }

        function Decrement() {
            currentMinutes = Math.floor(secs / 60);
            currentSeconds = secs % 60;
            if(currentSeconds <= 9) currentSeconds = "0" + currentSeconds;
            secs--;

            /* determine what to show on the timerText*/
            if (is_overtime < 1) {
                document.getElementById("timerText").innerHTML = currentMinutes + "m : " + currentSeconds + "s "; //Set the element id you need the time put into.
            } else {
                document.getElementById("timerText2").innerHTML = "Overtime: " + (total_over_mins - currentMinutes -1) + "m : " + (60 - currentSeconds) + "s "; //Set the element id you need the time put into.
            }

            if(secs !== -1) {
                myVar=setTimeout('Decrement()',1000);
            } else {
                /* alert(secs, psecs, currentMinutes, currentSeconds) */
                secs = psecs;
                myVar=setTimeout('Decrement()',1000);
                total_over_mins = total_over_mins + mins;
                is_overtime = is_overtime + 1
                if (is_overtime > 1) document.getElementById("percentage2").className = "progress-bar progress-bar-danger progress-bar-striped active";
                else document.getElementById("percentage2").className = "progress-bar progress-bar-warning progress-bar-striped active";
            }

            /* determine the progress percentage:
             * if within regular timeframe, show % at the first progress bar
             * otherwise show % at the 2nd progress bar, the % is continue to grow
            */
            if (is_overtime < 1) {
                document.getElementById("percentage").innerHTML = parseInt((psecs-secs)/psecs * 100) + "%";
                document.getElementById("percentage").style.width = (psecs-secs)/psecs * 100 + "%";
            } else {
                document.getElementById("percentage2").innerHTML = parseInt(((psecs-secs)/psecs + is_overtime -1) * 100) + "%";
                document.getElementById("percentage2").style.width = (psecs-secs)/psecs * 100 + "%";
            }
        }

        function stopTimer() {
            clearTimeout(myVar);
        }

    </script>

{% endblock %}